.mainContent{
    display: flex;
    justify-content: center;
    height: 90vh;     
}
.authBox{
    padding-top: 60px;
    width: 80vw;
    max-width: 644px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.toggleButtons{
    display: flex;
    width: 100%;
}

.chooseButton{
    flex: 1; 
    padding: 12px 24px;
    border-radius: 4px;
    background: var(--Opacity-Neutral-Darkest-5, #00000006);
    border: 1px solid var(--Color-Scheme-2-Border, #00000026)
}
.active{
    background: var(--Opacity-Neutral-Darkest-5, #0000001b);
}

.formTitle{
    font-family: Sora;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -1%;
    text-align: center;
}
.formMessage{
    font-family: Nunito Sans;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input{
    height: 37px;
    gap: 8px;
    border-radius: 4px;
    border-width: 1px;
    padding: 8px;
}

.submitButton{
    padding: 6px 12px;
    border-radius: 4px;

    height: 44px;
    width: 100%;

    color: white;
    background: var(--Color-Royal-Blue, #4169E1);
    border: 1px solid var(--Color-Royal-Blue, #4169E1)
}